*.class
bin/
gen/
*.apk
*.ap_
*.dex
proguard/
local.properties
*.log
Florasphere/.classpath
Florasphere/lint.xml
.gradle
*/local.properties
*/.idea/workspace.xml
*/.idea/libraries
*.DS_Store
build/
.idea
